extends ../base/layout

block data
  include ../data/main-page-data


block variables
  - var title = "Tajam — Home"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main"

block main
  main
    include ../components/intro
    include ../components/our-story
    include ../components/expertise
    include ../components/team
    include ../components/our-works
    include ../components/review
    include ../components/feedback

block modals
  +modal("modal--video modal--no-scale modal--no-overlay", false, true)
    +modal-video()
