.expertise {
  position: relative;
  padding-top: 65px;
  padding-bottom: 62px;
}

.expertise__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.expertise__text {
  font-size: 14px;
  font-family: $font-family--secondary;
  color: $color-haiti;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  letter-spacing: 0.075em;
  margin-bottom: 46px;
}

.expertise__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    width: calc(100% + #{$padding--sm * 2});
    margin-left: -$padding--sm;
  }
}
