.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: rgba($color-default-black, 0.6);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include viewport--sm {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 100%;
    max-width: 960px;

    background-color: $color-default-white;
  }

  &__close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    background-color: $color-bright-turquoise;
    outline: none;

    svg {
      transition: opacity $default-transition-settings;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        svg {
          opacity: 0.5;
        }
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include viewport--sm {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &--video {
    .modal__content {
      margin-left: 0;
      max-width: 800px;
      display: flex;
      justify-content: center;
      margin-top: 32px;

      @include viewport--sm {
        margin-top: 0;
      }
    }

    .modal__iframe {
      position: relative;
      width: 100%;
      height: 56vw;

      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }

      @media (min-width: 800px) {
        height: 450px;
      }
    }

    .modal__wrapper {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      align-items: flex-start;
    }
  }
}
