.team {
  position: relative;
  padding-top: 64px;
  padding-bottom: 68px;
}

.team__text {
  font-family: $font-family--secondary;
  color: $color-snow;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  letter-spacing: 0.075em;
  margin-bottom: 46px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.team__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.team__item {
  padding: 0;

  @include viewport--sm {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}

.team__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
}

.team__footer-text {
  font-size: 14px;
  font-weight: 300;
  color: $color-white-smoke;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.051em;
  margin-top: 0;
  margin-bottom: 26px;
}

