.team {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

.team__text {
  font-family: $font-family--secondary;
  color: $color-snow;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.team__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.team__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.team__footer-text {
  font-size: 14px;
  color: $color-white-smoke;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;
}

