.container {
  max-width: 960px;

  @include viewport--md {
    padding: 0 $padding--md;
  }

  @include viewport--sm {
    padding: 0 $padding--sm;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
