mixin footer(footerMod)
  -
    var socialLinks = [
      {
        href: "#",
        mod: "facebook"
      },
      {
        href: "#",
        mod: "twitter"
      },
      {
        href: "#",
        mod: "dribble"
      },
      {
        href: "#",
        mod: "instagram"
      },
      {
        href: "#",
        mod: "google"
      },
      {
        href: "#",
        mod: "youtube"
      },
    ]

    var navLinks = [
      {
        href: "#",
        text: "HELP"
      },
      {
        href: "#",
        text: "TERMS & CONDITION"
      },
      {
        href: "#",
        text: "PRIVACY"
      },
    ]

  footer(class= (footerMod) ? "footer footer--" + footerMod : "footer")
    +img("content", "footer-background", "jpg", 1600, 400, "background").background
    .footer__container.container
      .footer__top.row
        .footer__col.col-md
          .footer__logo
          .footer__text lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
        .footer__col.col-md
          h3.footer__title OUR STUDIO
          ul.footer__contacts-list
            li.footer__contacts-item
              a(href="#").footer__contacts-link.footer__contacts-link--address
                span
                | Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
            li.footer__contacts-item
              a(href="tel:+622122243333").footer__contacts-link.footer__contacts-link--tel
                span
                | (+62) 21-2224 3333
        .footer__col.col-md
          h3.footer__title STAY IN TOUCH
          .footer__subscription.subscription-block
            form(action="#" method="post" novalidate="")
              +input-border({
                cssClass: "input-wrapper--subscribe",
                placeholder: "Subscribe our newsletter",
                name: "email-input",
                type: "email",
                required: true,
                errorText: 'error message'
              })
              button(type="submit" aria-label="submit")
                span
          ul.footer__socials.socials
            each socialItem in socialLinks
              li.socials__item
                a(href=socialItem.href target="_blank" rel="nofollow noopener" class= socialItem.mod ? `socials__link socials__link--${socialItem.mod}` : 'socials__link').socials__link
                  span
      .footer__bottom.row
        ul.footer__nav.col-md
          each link in navLinks
            li.footer__nav-item
              a(href=link.href).footer__nav-link= link.text
        p.footer__copyright.col-md-5 Copyright © 2015 - Tajem Creative

