mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "HOME",
        mod: "active"
      },
      {
        href: "#",
        text: "ABOUT"
      },
      {
        href: "#",
        text: "EXPERTISE"
      },
      {
        href: "#",
        text: "TEAMS"
      },
      {
        href: "#",
        text: "WORKS"
      },
      {
        href: "#",
        text: "PEOPLE SAY"
      },
      {
        href: "#",
        text: "CONTACT"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header").container
    .header__wrapper.row-md.justify-content-between
      if(currentPage === "main")
        a.header__logo.col-md-2
      else
        a.header__logo.col-md-2(href="main.html", aria-label="Переход на главную")
      nav.main-nav.col-md-7
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              li.main-nav__item
                a.main-nav__link(href=link.href class="main-nav__link--" + link.mod)=link.text
        button.main-nav__toggle.btn-reset.burger(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span
          span
          span
