// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-bright-turquoise:          #00e0d0;
$color-grape:                     #413d4b;
$color-night-rider:               #333333;
$color-snow:                      #f9f9f9;
$color-snow2:                     #fafafa;
$color-white-smoke:               #f3f3f3;
$color-pink-swan:                 #b6b6b6;
$color-dark-gray:                 #acacac;
$color-nobel:                     #a1a1a1;
$color-suva-grey:                 #8a8a8a;
$color-coral-red:                 #f04343;
$color-apple:                     #72b741;
$color-haiti:                     #2f2d35;

// Typography
//---------------------------------

$font-family--primary:             "Roboto", "Arial", sans-serif;
$font-family--secondary:           "Playfair Display", "Arial", serif;
$font-family--btn:                 "Hammersmith One", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Padding
//---------------------------------

$padding--md:                       30px;
$padding--sm:                       30px;
