-
  var expertiseItems = [
    {
      icon: "",
      title: "WEB DESIGN & DEVELOPMENT",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "web"
    },
    {
      icon: "",
      title: "BRANDING IDENTITY",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "branding"
    },
    {
      icon: "",
      title: "MOBILE APP",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "mobile"
    },
    {
      icon: "",
      title: "SEARCH ENGINE OPTIMIZATION",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "search"
    },
    {
      icon: "",
      title: "GAME DEVELOPMENT",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "game"
    },
    {
      icon: "",
      title: "MADE WITH LOVE",
      description: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.",
      mod: "love"
    },
  ]

  var persons = [
    {
      photo: "",
      name: "SEMF UCUK",
      position: "CEO & FOUNDER",
      href: "#"
    },
    {
      photo: "",
      name: "DIK ADALIN",
      position: "ENGINEERING ",
      href: "#"
    },
    {
      photo: "",
      name: "JENG KOL",
      position: "DESIGNER",
      href: "#"
    },
    {
      photo: "",
      name: "PET ROMAK",
      position: "MARKETING",
      href: "#"
    },
  ]

  var authors = [
    {
      photo: "author1",
      text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.",
      name: "SEMF UCUK",
      position: "CEO & FOUNDER",
    },
    {
      photo: "author2",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam animi, aperiam distinctio dolores doloribus eius facilis fuga id incidunt laudantium libero magni molestiae molestias necessitatibus nisi nobis, nostrum nulla obcaecati omnis praesentium quaerat ratione rem, reprehenderit sit vero voluptatibus.",
      name: "DIK ADALIN",
      position: "ENGINEERING",
    },
    {
      photo: "author3",
      mod: "active",
      text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.",
      name: "JANE GALADRIEL",
      position: "CEO TENGKUREP",
    },
    {
      photo: "author4",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam animi, aperiam distinctio dolores doloribus eius facilis fuga id incidunt laudantium libero magni molestiae molestias necessitatibus nisi nobis, nostrum nulla obcaecati omnis praesentium quaerat ratione rem, reprehenderit sit vero voluptatibus.",
      name: "JENG KOL",
      position: "DESIGNER",
    },
    {
      photo: "author5",
      text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.",
      name: "PET ROMAK",
      position: "MARKETING",
    },
  ]
