section.intro
  +img("content", "intro-background", "jpg", 1600, 670, "background").background
  .intro__container.container
    h1.h1.intro__title.bottom-line.bottom-line--blue We Are Awesome Creative Agency
    p.intro__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
    +btn({type: "link", cssClass: "intro__btn", content: "learn more", href: "#"})
